@media screen and (max-width: 768px) {
	html,body{
        font-size:20px;
    }
    *{
    	box-sizing: border-box;
    }
    .header {
	    height: 10rem;
	}
	.title {
	    font-size: 1.8rem;
	    position: static;
	    text-align: center;
	    padding-top: 1.5rem;
	}
	.nav{
		display: none;
	}
	.nav {
	    width: 30%;
	    text-align: left;
	    padding-top: 0;
	    position: absolute;
	    left:3rem;
	    top:1.5rem;
	    z-index: 3;
	    background: rgba(255,255,255,0.9);
	}
    .nav li {
        width: 100%;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: rgba(255,255,255,0);
        text-align: center;
        padding-right: 1rem;
    }
	.nav li a{
		font-size: 1.3rem;
		color: #000;
	}
	.navButton{
		width: 2.5rem;
		height: 2.5rem;
		background: url(../images/nav.png) no-repeat;
        background-size:100% 100%;
		position: absolute;
		left: 0.5rem;
		top:1.5rem;
	}
	.headerFont {
	   display: none;
	}
	.search {
	    width: 70%;
	    height: 2rem;
	    margin-top: 3rem;
	}
	#searchInput {
	    width: 85%;
	    padding: 0 0.5rem;
	    font-size: 1rem;
	}
	#searchSubmit {
	    width: 15%;
	    background-size: 1.5rem 1.5rem;
	}
	.header,.headerCon{
		overflow: inherit;
	}
	.footer {
	    height: auto;
	    padding:1rem;
	    margin-top: 2.5rem;
	}
	/*.footerList>li {
	    width: 50%;
	    margin-bottom: 1rem;
	}
	.footerList2 li {
	    font-size: 1.3rem;
	    margin-bottom: 1rem;
	    text-align: center;
	}
	.footerList2 li a {
	    font-size: 1rem;
    }
    .footerList li:last-child{
    	width: 100%;
    }*/
    .friendLinkList {
        width: 70%;
        height: auto;
        overflow: hidden;
    }

    .friendLinkList li {
        line-height: 1.5drem;
        margin-right: 2rem;
        text-align:center;
    }
    .wxCode {
        width: 30%;
        height: auto;
        overflow: hidden;
    }
    .wx {
	    width: 4rem;
        margin:0 auto;
	}
	.wxTag {
        width:100%;
	    font-size: 1rem;
        text-align:center;
	    margin: 1rem 0;
	}
    .footerTag {
        width: 100%;
        font-size: 1rem;
        margin-bottom:1rem;
        padding-top:1rem;
    }
    .footerbottom {
        line-height: 1.5rem;
        padding-bottom: 1rem;
    }

    .page_content{
		min-width: 100%;
	}
    .container_page{
    	width: 100%;
    }
    .enterprise {
	    height: auto;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	    padding: 1rem;
    }
    .enterpriseList {
	    width: 100%;
	    height: auto;
    }
    .enterpriseListImg {
	    width: 100%;
	    height: 10rem;
	    font-size: 1.5rem;
	    line-height: 16rem;
	    background-size: 3rem auto;
	}
	.enterpriseListCon {
	    width: 100%;
	    height: auto;
	}
	.enterpriseListCon1{
		border: 0;
	}
	.enterpriseClassify li {
	    width: 100%;
	    height: 3rem;
	    padding-left: 2rem;
	    padding-right: 0.5rem;
	    padding-bottom: 0.5rem;
	}
	.enterpriseClassify li a {
	    font-size: 1.3rem;
	    line-height: 3rem;
	}
	.enterpriseClassify li:before {
	    content: '.';
	    width: 1rem;
	    height: 3rem;
	    font-size: 1.6rem;
	    line-height: 2.5rem;
	    top: 0;
	}
	.enterpriseClassify2 li:before {
		content: 'L';
	    width: 1.5rem;
	    height: 1rem;
	    font-size: 0.3rem;
	    border-radius: 0.5rem;
	    line-height: 1rem;
	    top: 1rem;
	    left: 0.2rem;
	}
	.more {
	    font-size: 1rem;
	    margin-right: 2rem;
	    margin-bottom: 1rem;
	}
	.news {
	    height: auto;
	    margin-bottom: 1rem;
	}
	.newsBox {
	    width: 100%;
	    height: auto;
	    padding: 1rem;
	}
	.newsBoxImg {
	    height: 10rem;
	}
	.newsList {
	    padding-top: 1rem;
	}
	.newsList li {
	    width: 100%;
	    height: 3rem;
	    line-height: 3rem;
	    padding-left: 1.2rem;
	}
	.newsList li a {
	    font-size: 1.3rem;
	}
	.newsList li:before {
	    width: 0.4rem;
	    height: 1.4rem;
	    top: 0.8rem;
	    border-right: 2px solid #ccc;
	}
	.mar16{
		margin:1rem 0;
	}
	.serveTitle {
	    font-size: 2.5rem;
	    line-height: 6rem;
	}
	.swiper {
	    height: 20rem;
	    padding: 1rem;
	}
	.swiper .swiper-slide {
	    width: 80%;
	    height: 16rem;
	    box-shadow: 0 0.5rem 1rem #ddd;
	}
	.serveList li {
	    width: 100%;
	    height: auto;
	    padding: 1rem;
	    margin-bottom: 1rem;
	}
	.serveList li:first-child{
		margin-right: 0;
	}
	.serveListImg {
	    float: left;
	    width: 100%;
	    height: 10rem;
	}
	.serveListCon {
	    width: 100%;
	    height:auto;
	}
	.serveListCon h3 {
	    font-size: 1.8rem;
	    line-height: 4rem;
	}
	.serveListIntro {
	    height: 7.5rem;
	    font-size: 1.3rem;
	    line-height: 2.5rem;
	}
	.serveListMore{
		line-height: 3rem;
	}
	.introduce {
	    font-size: 1.3rem;
	    line-height: 2.5rem;
	    margin-top: 2rem;
	    padding: 0 1rem;
	}
	.friendLink{
		padding: 0 1rem;
	}
	.friendLink li {
	    width: 33.33%;
	    height: auto;
	}

	.header2{
		height: 5rem;
	}
	.page1_title {
	    margin-top: 2rem;
	}
	.goBack {
	    font-size: 1.2rem;
	    margin-left: 1rem;
	    margin-bottom: 1rem;
	}
	.page1_tag {
	    height: 10rem;
	    margin-bottom: 1rem;
	}
	.page1_tag_title {
	    font-size: 2rem;
	    line-height: 10rem;
	}
	.pageConLeft {
	    width: 100%;
	    margin-right: 0;
	}
	.pageArticle {
	    margin-bottom: 1rem;
	}
	.pageArticle h3 {
	    font-size: 1.5rem;
	    line-height: 3rem;
	    padding: 0 1rem;
	}
	.pageArticleCon {
	    width: 100%;
	    padding: 0 1rem;
	    padding-bottom: 1rem;
	}
	.pageArticleCon p {
		width: 100%;
	    font-size: 1.3rem;
	    line-height: 2.5rem;
	}
	.companyNews li a {
	    font-size: 1.3rem;
	}
	.pageConRight {
	    width: 100%;
	}
	.pageConRightList {
	    width: 100%;
	    padding: 1rem;
	    margin-bottom: 1rem;
	}
	.pageConRightList h3 {
	    font-size: 1.5rem;
	    line-height: 3rem;
	}
    #videoUrl {
	    height: 18rem;
	}
	.pagelicenseCon li {
	    float: left;
	    width: calc(33.33% - 0.5rem);
	    height: 10rem;
	    margin-left: 0.5rem;
	    margin-bottom: 0.5rem;
	}
	.pagelicenseCon li.active {
	    margin-left: 0.5rem;
	} 
	.enterpriseProduct {
	    width: 100%;
	    padding: 0 1rem;
	}
	.enterpriseProduct h3 {
	    font-size: 1.5rem;
	    line-height: 3rem;
	}
	.enterpriseProduct .pagelicenseCon li{
		width: 100%;
		height: 10rem;
		margin-left: 0;
	}

	.companyClassifyTop {
	    padding: 1rem;
	}
	.companyClassifySearch {
	    float: left;
	    width: 100%;
	    height: 3rem;
	}
	.companyClassifySearch span {
		width: 4rem;
	    font-size: 1.3rem;
	    line-height: 3rem;
	    margin-right: 0;
	}
	#companyClassifySearchInput {
	    width: calc(100% - 10rem);
	    height: 3rem;
	    padding: 0 0.5rem;
	    font-size: 1.2rem;
	}
	#companyClassifySearchSubmit {
	    width: 5rem;
	    height: 100%;
	    font-size: 1.3rem;
	    line-height: 3rem;
	}
    .scenicTop{
        padding:0;
    }
    .companyClassifyTag, .scenicTag {
        float: left;
        width: 100%;
        height: 3rem;
        margin-top: 2rem;
        text-align: center;
    }
    .companyClassifyTag li,.scenicTag li {
        float: initial;
        display: inline-block;
        width: 33%;
        height: 3rem;
        font-size: 1.3rem;
        line-height: 3rem;
    }
	.companyClassifyList {
	    margin-bottom: 0.5rem;
	    padding: 0 1rem;
	}
	.companyClassifyDetail {
	    height: auto;
	    overflow: hidden;
	}
	.company_icon {
	    width: 5rem;
	    height: 10rem;
	}
	.company_iconActive {
	    background: url(../images/company_icon.png) center 2rem no-repeat;
	    background-size: 2rem auto;
	}
	.company_introduce {
	    width: calc(100% - 5rem);
	}
	.company_introduce h3 {
	    font-size: 1.5rem;
	    margin-top: 2rem;
	}
	.company_introduce .clickNum {
	    font-size: 1.3rem;
	    text-align: left;
	}
	.company_introduceCon {
	    height: 5rem;
	    font-size: 1.3rem;
	    line-height: 2.5rem;
	}
	.company_label {
	    height: 6rem;
	    padding:1rem 0 2rem 0;
	}
	.company_label span {
	    width: calc(33.33% - 1rem);
	    height: 100%;
	    font-size: 1.2rem;
	    line-height: 3rem;
	    margin-right: 1rem;
	}

	.detailsTitle {
	    font-size: 1.6rem;
	    padding: 2rem 1rem;
	}
	.detailsTime {
	    font-size: 1.3rem;
	    padding: 1rem;
	}
	.detailsSource {
	    font-size: 1.3rem;
	    line-height: 3rem;
	    padding: 1rem;
	}
	.detailsCon {
	    font-size: 1.3rem;
	    line-height: 2.5rem;
	    padding: 1rem;
	}
	.pagePrev, .pageNext {
	    width: 100%;
	    margin-top: 1.5rem;
	    padding:0 1rem; 
	}
	.pagePrev b, .pageNext b {
	    font-size: 1.3rem;
	}
	.pagePrev span, .pageNext span {
	    font-size: 1.3rem;
	}
	.scenicList li {
	    width: 100%;
	    height: auto;
	    margin-left: 0;
	    margin-bottom:1rem;
	    padding:1rem 1rem 2rem 1rem;
	}
	.scenicListName {
	    font-size: 1.5rem;
	    padding: 1rem 0;
	}
	.scenicListLevel, .scenicListAddress {
	    font-size: 1.3rem;
	    line-height: 2.5rem;
	}
	.scenicListImg {
	    height: auto;
	}
	.policyList li {
	    padding:1rem;
	}
	.policyList h3 {
	    font-size: 1.5rem;
	    line-height: 2rem;
	    margin-bottom: 0.5rem;
	}
	.policyList h3 span {
	    font-size: 1.3rem;
	    line-height: 2rem;
	}
	.policyListIntro {
	    font-size: 1.3rem;
	    line-height: 2rem;
	}
	.policyTime {
	    font-size: 1.3rem;
	    margin: 1rem 0;
	}
}
@media screen and (max-width: 420px){
    html,body{
        font-size:13.125px;
    }
}
@media screen and (max-width: 414px){
    html,body{
        font-size:12.9px;
    }
}
@media screen and (max-width: 375px){
    html,body{
        font-size:11.72px;
    }
}
@media screen and (max-width: 360px){
    html,body{
        font-size:11.25px;
    }
}
@media screen and (max-width: 320px){
    html,body{
        font-size:10px;
    }
    .courseSelect li span{
        width: 6rem;
    }
}